application/
assets/
notes/

vendor/

tests/
coverage/
.coverage

.env
*.excalidraw
*.md
LICENSE

# VERSION CONTROL
.git/
.gitignore
.github/

# DOCKER FILES
Dockerfile*
docker-compose*.yml
docker-compose*.yaml
.dockerignore

# LOGS
*.log
*.logs
log/
logs/
